body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
header{
    height: 200px;
    background-color:black;
}
.img_1{
    margin: 130px 0px 0px 90px;
    width: 150px;
    height: 150px;
    border-radius: 750px;
    float:left;
}
.division{
    float:left;
    margin: 40px 0px 0px 100px;
    font-size: 50px;
    color: white;

}
.c_div{
    padding: 15px;
    margin: 10px;
}
p{
    margin: 10px;
    
}
.div_1{
clear: left;
float: left;
margin: 10px 40px 0px 20px;
width: 230px;
background-color:antiquewhite ;

}
.div_1 > p{
    text-align: right;
}
.div_1 :first-child{
    text-align:center;
}
.div_2{
    float:left;
   
    width:60%;
    
}
.div_2 {
    text-align: center;
}
.div_2 > div{
    background-color:rgb(236, 236, 236);
}
.title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;

}